@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
    --grey-700: hsl(0, 0%, 20%);
    --grey-800: hsl(0, 0%, 12%);
    --grey-900: hsl(0, 0%, 8%);
    --white: hsl(0, 0%, 100%);
    --green: hsl(75, 94%, 57%);
    --dark-green-800: #124606;
    --dark-green-900: #092104;
    --gold:  #EEBA30;

    background-color: var(--grey-900);
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    font-size: 14px;
    font-family: "Inter", sans-serif;
    color: var(--white);
    text-align: center;
}

article {
    background-color: var(--dark-green-900);
    max-width: 280px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: auto;
    padding: 20px;
    border-radius: 1em;
}

img {
    max-width: 5em;
    margin: auto;
    padding: 20px 0;
    border-radius: 50%;
}

h1 {
    font-size: 1.25em;
    font-weight: 600;
    margin: 0;
}

p {
    font-size: .85em;
}

#location {
    margin: 10px;
    font-weight: 600;
    color: var(--gold);
}

ul {
    list-style: none;
    padding: 0 10px;
    font-size: .8em;
    font-weight: 700;
    margin: 10px 0 0;
}

li {
    background: var(--dark-green-800);
    padding: 12px 0;
    border-radius: .5em;
    margin-bottom: 15px;
}

li:hover, li:focus {
    background-color: var(--gold);
    color: var(--dark-green-900);
    cursor: pointer;
}